body {
    margin: 0;
}

.header {
    font-size: 55px;
    position: fixed;
    top: 0;
    padding: 20px;
    background-color: red;
    width: 100%;
}

.content {
    padding: 20px;
    margin-top: 40px;
}